version: 2
jobs:
  build:
    docker:
      - image: python:3.6
    environment:
      - LC_ALL: C.UTF-8
      - LANG: C.UTF-8
    steps:
      - checkout
      - run:
          name: Set up various tools
          command: apt update && apt install -y gettext zip unzip

      - run:
          name: Compile translations
          command: bin/compile-translations

      - run:
          name: Setup Pipenv
          command: pip -q install pipenv

      - run:
          name: Install deps
          command: pipenv install --dev

      - run:
          name: Test build script
          command: bin/build.sh

      - run:
          name: Test release script
          command: bin/release.sh -y

      - run:
          name: Test deploy script (from source)
          command: pip3 -q install boto3 && bin/deploy.py zip

      - run:
          name: Test deploy script (without build)
          command:  rm -rf dist/ tests/ && bin/deploy.py zip

      - run:
          name: Test mqtt zip creation
          command: bin/deploy.py mqtt
